body { background: #fd0357; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 53px; display: flex; }
.block-database-0 { color: #672413; font-size: 15px; margin-bottom: 5px; }
.block-email-1 { color: #fddee7; font-size: 17px; margin-bottom: 5px; }
.block-product-2 { color: #151fb7; font-size: 19px; margin-bottom: 5px; }
.block-auth-3 { color: #2aa57b; font-size: 12px; margin-bottom: 5px; }
.block-invoice-4 { color: #5f42bb; font-size: 13px; margin-bottom: 5px; }
.block-user-5 { color: #3fc1f6; font-size: 12px; margin-bottom: 5px; }
.block-database-6 { color: #8a0a79; font-size: 16px; margin-bottom: 5px; }
.block-uploader-7 { color: #bde49d; font-size: 18px; margin-bottom: 5px; }
.block-product-8 { color: #edb06d; font-size: 21px; margin-bottom: 5px; }
.block-router-9 { color: #546d8; font-size: 17px; margin-bottom: 5px; }
.block-database-10 { color: #ca3443; font-size: 14px; margin-bottom: 5px; }